extends static-layout

block main-content
 section.content
  h2 L'ANNOTAZIONE
  p In sede di codifica sono stati definiti tanti livelli di note quanti gli ambiti oggetto di intervento interpretativo (persone, lessico, citazioni, codici manoscritti, fonti).
  p Gli elementi annotati sono stati poi indicizzati al fine di estrarre le forme dei nomi, necessarie a costruire il set delle authorities. Tali elementi sono evidenziati nelle lettere attraverso colori. Quando siano presenti ulteriori specificazioni si rimanda alle note.
  p Non è stata condotta una collazione completa sul testo di tutti gli altri editori e le note filologiche si riducono quindi al rilievo di alcune caratteristiche materiali dei documenti originali o alla segnalazione di alcune significative letture dell'originale diverse da quelle dell'ultimo editore.
  p Il commento si è quindi articolato nel rilievo di alcuni elementi caratteristici della raccolta:
  ul
    li identificazione delle persone citate
    li analisi del lessico tecnico
    li riconoscimento di citazioni, proverbi ed exempla
    li identificazione dei codici menzionati
    li puntualizzazione di eventi storici
    li annotazione di altre particolarità testuali o di contenuto
    li caratteristiche materiali della fonte cioè dell'esemplare originale di riferimento
  p Nel dettaglio, queste macro aree di commento e la contestuale annotazione del testo, riguardano gli elementi topici della raccolta. Partitamente:
  ol
    li Particolare attenzione si è prestata all'identificazione, quando possibile, delle persone menzionate nelle lettere, fornendo una serie di annotazioni biografiche. In modo particolare quando i protagonisti sono legati a Vespasiano, per ragioni affettive o professionali, si è cercato di ricostruire le vicende del legame. È sempre specificato se si tratti di figure di cui il nostro libraio ha tracciato un profilo nelle Vite ed è stata prevista un'annotazione puntuale nel caso fosse possibile identificare anche una storia delle biblioteche. Per personaggi particolarmente noti ci si è limitati ad un riscontro bibliografico.
    li Interessanti sono risultati alcuni stilemi topici di Vespasiano e il frequente utilizzo di un vocabolario tecnico legato alla sfera semantica del libro e della produzione manoscritta (legature, miniature, formati, costi, copisti, ecc.). Sono stati dunque evidenziati i casi di impiego un lessico specialistico e descritti i fenomeni materiali.
    li Molto spesso ricorrono nell'epistolario citazioni di autori classici che sono state identificate. Quanto le citazioni di autori greci sono state riportate in latino o in volgare si è cercato di identificare la fonte di provenienza (che si può leggere "onmouseover"), verificando le menzioni direttamente sui codici all'epoca circolanti (quando possibile). Il periodare di Vespasiano si muove poi spesso per proverbi ed exempla ed anche questa caratteristica è stata oggetto di commento, con lo scopo di individuare eventuali altre occorrenze nella letteratura coeva o verificarne l'esistenza in opere della tradizione classica.
    li Un rilievo speciale è stato accordato all'identificazione dei codici menzionati da Vespasiano, quindi o prodotti dall'officina libraria o richiesti dai committenti o proposti da Vespasiano. 