extends static-layout

block main-content
 section.content
  h2 LE BIBLIOTECHE
  p Molte delle biblioteche storiche più prestigiose possiedono numerosi manoscritti prodotti dalla scuola di Vespasiano. Si pensi in particolare alla biblioteca Vaticana, alla Marciana, alla Mediceo-Laurenziana, il che significa il fondo della biblioteca della Badia di Fiesole, quello della biblioteca di San Marco in Firenze, alla biblioteca del cardinal Bessarione, a quella di Federico da Montefeltro, di Niccolò V, ma anche di Mattia Corvino, alla biblioteca degli Aragonesi e ai numerosi fondi di biblioteche private italiane ed europee.
  p Saranno oggetto di un prossimo aggiornamento del sito informazioni su:
  ul
    li Cosimo de' Medici e le biblioteche di San Marco e della Badia di Fiesole;
    li La biblioteca di Niccolò V. Alle origini della Vaticana;
    li La grandiosa biblioteca di Federico da Montefeltro;
    li La biblioteca del Bessarione e le origini della Marciana;
    li La biblioteca Aragonese;
    li La biblioteca dei Gonzaga a Mantova;
    li La biblioteca degli Estensi a Ferrara;
    li Cesena e la Malatestiana;
    li La raccolta di Alessandro Sforza a Pesaro.
  p Le biblioteche di personalità europee:
  ul
    li Inghilterra: William Gray, Andrew Holes, John Tiptof;
    li Francia: Jean Jouffroy;
    li Spagna: Nuño Guzmán, Alfonso de Fonseca, Pedro Gonsalvez de Mendoza, forse Iñico Davalos;
    li Portogallo: Jacopo di Portogallo;
    li Ungheria: Giovanni Vitéz, Giano Pannonio, Giorgio Hasznoz nonché la famosa raccolta di Mattia Corvino.