extends browse-layout

block list-names 
  for x,i in dateLetters
   section.dropDown
    h3=x.date
     span= ' [' + x.letter.length + ']'
    p.html LETTERE: 
      for y,z in x.letter
        span.letter
         a(href=y.value)= y.value + '   '
