extends layout

block content
  figure.fullWidth
    img(src='images/testata.jpg')
    figcaption.intro 
     p Edizione digitale delle Lettere di Vespasiano da Bisticci, copista fiorentino vissuto nell'arco del XV secolo. Le lettere, inviate e ricevute e fino ad oggi rintracciate, sono navigabili attraverso un sistema di faccette tematiche (corrispondente, data, luogo, segnatura). L'edizione è accompagnata da strumenti filologici di orientamento e guida (indice delle parole sottoforma di authorities, tavola sinottica, nota filologica, descrizione dei testimoni). Le lettere sono accompagnate da informazioni contestuali (la raccolta delle lettere, i corrispondenti, i manoscritti realizzati dalla scuola, i copisti di Vespasiano, le biblioteche prodotte) necessarie ad inserire i documenti in una prospettiva metatestuale in evoluzione e aggiornamento costante.
  section.browsing
    nav.browsing
      h2 ESPLORA LA RACCOLTA
      ul
        li 
          a(href='/browse/corrispondenti') per corrispondente
        li 
          a(href='/browse/luoghi') per luogo
        li 
          a(href='/browse/date') per data
        li 
          a(href='/browse/segnatura') per segnatura
    nav.info
      h2 
        span L'EDIZIONE
      ul.info
        li.info-title IL PROGETTO
        li 
          a(href='/markup') il markup e l'ipertesto
        li.info-title IL COMMENTO AL TESTO
        li 
          a(href='/annotazione') i livelli di annotazione
        li.info-title LA BASE DI CONOSCENZA
        li
          a(href='/dati') il dataset e le ontologie
      h2 
        span IL CORPUS
      ul.info
        li
          a(href='/raccolta') la raccolta
        li
          a(href='/i-corrispondenti') i corrispondenti
        li
          a(href='/manoscritti') i manoscritti
        li
          a(href='/copisti') i copisti
        li
          a(href='/biblioteche') le biblioteche
  section.instruments
    section.instrument
      h2 AUTHORITIES
      p 
        span.green //
          a(href='indices/persone') persone
        span.green //
          a(href='indices/codici') codici
        span.green //
          a(href='indices/lessico') lessico
        span.green //
          a(href='indices/citazioni') citazioni
    section.instrument
      h2 TAVOLA SINOTTICA
      p
        span.green //
          a(href='indices/lettere') lettere
    section.instrument
      h2 NOTA FILOLOGICA
      p
        span.green //
          a(href='/nota') i principi della trascrizione
    section.instrument
      h2 TESTIMONI
      p
        span.green //
          a(href='/testimoni') i testimoni della raccolta
    section.instrument
      h2 BIBLIOGRAFIA
      p
        span.green //
          a(href='/bibliografia') i precedenti editori e la bibliografia