doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
    script(src='/javascripts/browsing.js')
  body
    h1.title 
      a(href='/') VESPASIANO DA BISTICCI
    h2.subtitle 
      a(href='/') LETTERE
      span.payoff a knowledge site
  block content
  footer
    section
      h2 
        a(href='http://www.crrmm.unibo.it/') CRR-MM
      p Il progetto di edizione si inserisce nell’attività di ricerca del CRR-MM, Centro di Risorse per la Ricerca dell’Ateneo di Bologna. Il CRR-MM offre a ricercatori e docenti dell’Università di Bologna servizi per la valorizzazione dei prodotti della ricerca d’Ateneo, quali:
    section
      h2 PRODUZIONE VIDEO
      p Ideazione, progettazione, riprese, montaggio e post-produzione di audiovisivi.
      h2 GESTIONE DI COLLEZIONI DIGITALI
      p Gestione, condivisione, accessibilità nel tempo e citabilità delle collezioni multimediali.
    section
      h2 CONTATTI
      p francesca.tomasi@unibo.it
      p +39 051 2098539
      p Dipartimento di Filologia Classica e Italianistica, Alma Mater Studiorum - Università di Bologna, via Zamboni 32, 40126, Bologna
      p © 2013 
        a(href='https://www.unibo.it/sitoweb/francesca.tomasi') Francesca Tomasi
      p DOI: 
        a(href='https://doi.org/10.6092/unibo/vespasianodabisticciletters') 10.6092/unibo/vespasianodabisticciletters
      p ISBN: 9788898010110
      p
        a(href='https://creativecommons.org/licenses/by-nc-nd/3.0/deed.it') Licenza Creative Commons
      p
        a(href='#') Credits