extends first-layout

block main-content
 section.content
  h2 I COPISTI
  p Come si diceva Vespasiano non fu mai un copista; fu invece un imprenditore del libro manoscritto, a capo di una scuola di abili scriba, che lavoravano su commissione.
  p Oltre ad avere una serie di "dipendenti", attivi presso la bottega del Bargello, il libraio intratteneva rapporti con personalità esterne, che svolgevano altrove la loro attività, e ai quali richiedeva la realizzazione di apografi, per rispondere alle richieste dei clienti.
  p Dalle lettere veniamo a conoscenza di alcuni di loro, capiamo che non necessariamente stavano in bottega e che non erano solo copisti. Professioni diverse accomunano la passione per la scrittura e l'attitudine alla copia: si registrano notai, religiosi, studiosi. Non meri scriba dunque, che non intendono quello che leggono, ma colti professionisti, veri e propri mediatori linguistici e culturali.
  p Potremmo anche parlare non di copisti, ma di "scrittori", termine che, anche Vespasiano usa per descrivere se stesso. Scrittore sia nel senso in cui lo intendiamo in prima battuta di narratore, nello specifico di originale raccoglitore di fatti e vicende riguardanti illustri personalità del suo tempo, ma anche in senso etimologico di trascrittore di codici.
  p Non bisogna dimenticare che Vespasiano procacciava anche copisti per chi glielo chiedeva (richiesta del Manetti [lettera 12]) e che era in grado di radunare un elevato numero di scriba per intraprese consistenti (come la Badia di Fiesole).
  p La De la Mare ha identificato oltre un centinaio di copisti, tramite le sottoscrizioni, o ha proceduto ad assegnazioni grazie all'identificazione del tipo di scrittura. Settantuno copisti sono noti tramite il nome o l'iniziale del nome. Interessano, rispetto ai codici menzionati nelle lettere:
  h4 Piero di Benedetto Strozzi
  p
   | lettere
   a(href='letters/18') 18
   | ,
   a(href='letters/19') 19

  h4 Filippo Torelli
  p
   | lettera
   a(href='letters/19') 19
  h4 Sinibaldus C.
  p Negli anni 1480 o 1481 Sinibaldus ha esemplato varie copie di opere di Vespasiano compresa la collezione della corrispondenza del libraio preparata come regalo all'amico Francesco Pandolfini: è il Laur. Plut. 90 sup. 30 (Lettere a Vespasiano), con ex-libris di Francesco di Pierfilippo Pandolfini.
  h4 Antonio Sinibaldi
  p
   | lettera
   a(href='letters/18') 18
  h4 Ser Gherardo del Ciriagio
  p
   | lettera
   a(href='letters/5') 5
  h4 Hugo de Comminellis
  p
   | Ha lavorato per Vespasiano alla serie delle opere di Agostino preparata per il Bessarione fra il 1470 e il 1472. La serie dei 10 volumi, dei quali l'ultimo fu finito dopo la morte del Bessarione nel novembre 1472 (cfr. lettera
   a(href='letters/31') 31
   | al Magnifico) si trova in Venezia: Marc. Lat. Z. 57-9, 61, 64-5, 68-70 e II 33.
  h4 Leonardo Tolesani da Colle
  p
   | lettere
   a(href='letters/33') 33
   | ,
   a(href='letters/34') 34
  h4 Caldarifex
  p
   | lettera
   a(href='letters/4') 4
  h4 "Messer Marco"
  p
   | lettera
   a(href='letters/18') 18
  h4 "Ser Benedetto"
  p
   | lettera
   a(href='letters/17') 17
  p Un copista anonimo delle Vite ha prodotto 11 dei manoscritti originali che contengono l'opera di Vespasiano e altri codici, compreso il ms. 1452 dell'Universitaria di Bologna.
