extends first-layout

block main-content
 section.content
  h2 Credits
  h3 Scientific Director
  p Francesca Tomasi, University of Bologna, Department of Classic Philology and Italian Studies.
  h3 Design and Implementation
  p Marilena Daquino, University of Bologna, Department of Classic Philology and Italian Studies.
  h3 Documentation, Data visualization and Design
  p Sebastian Barzaghi, University of Bologna, Department of Classic Philology and Italian Studies.
  h3 Current version
  p version 3.0 - 2020
  h3 Citation (current version)
  p F. Tomasi (a cura di), Vespasiano da Bisticci, Lettere. Knowledge Site 2020. Versione 3.0, 2020. /DH.arc, Università di Bologna. URI: http://projects.dharc.unibo.it/vespasiano/.
  h3 The primary sources (witnesses)
  p Access to digital images of the primary sources is limited due to the still unresolved granting of reproduction rights by cultural heritage institutions.
