extends first-layout

block main-content
 section.content
  h2 IL MARKUP E L'IPERTESTO
  p L'edizione ipertestuale delle lettere prevede l'accesso alle lettere attraverso alcune faccette tematiche, che consentono la navigazione per categorie:
  ul
    li
      a(href='browse/corrispondenti') corrispondente
    li
      a(href='browse/luoghi') luogo
    li
      a(href='browse/date') data
    li
      a(href='browse/segnatura') segnatura

  p Il corredo metatestuale è rappresentato da:
  p Strumenti filologici di orientamento e guida:
  ul
    li indici tematici:
     a(href='indices/persone') persone
     |,
     a(href='indices/codici') codici
     |,
     a(href='indices/lessico') lessico
     |,
     a(href='indices/citazioni') citazioni
    li
      a(href='indices/lettere') tavola sinottica
    li
      a(href='nota') nota filologica
    li
      a(href='testimoni') descrizione delle fonti

  p Componenti contestuali di approfondimento e critica (la raccolta delle lettere, i corrispondenti, i manoscritti realizzati dalla scuola, i copisti di Vespasiano, le biblioteche prodotte).
  ul
    li
      a(href='raccolta') la raccolta
    li
      a(href='i-corrispondenti') i corrispondenti
    li
      a(href='manoscritti') i manoscritti
    li
      a(href='copisti') i copisti
    li
      a(href='biblioteche') le biblioteche

  p L'edizione è concepita come un archivio in costante processo di arricchimento in una potenziale dimensione collaborativa.
  p Ogni lettera è marcata in formato XML/TEI secondo un modello di markup ad hoc. Da ciascuna lettera sono estratti i metadati (mittente, destinatario, luogo, data, fonte). Laddove esista un riferimento ad URL ufficiale, sono stati creati collegamenti alla fonte e alle persone, attraverso l'identificazione su VIAF e DBpedia. Un permalink consente di attribuire un URI ad ogni lettera.
  p Gli elementi significativi del markup (persone, codici, lessico, citazioni), che corrispondono agli elementi indicizzati nella sezione authorities, sono riportati nella sezione Entità. Tali elementi rappresentano chiavi di accesso alternative alle lettere.
  p Ad ogni tag significativo corrisponde un URI. Le persone in particolare sono collegate ai principali repertori (VIAF, DBpedia, ecc.) per la forma controllata del nome e l'identificazione univoca.
  p Le note sono collocate nella colonna di destra.
