extends first-layout

block main-content
 section.content
   h2 I TESTIMONI
   p Le lettere sono arrivate ad oggi in copia unica ma provenienza, supporti ed estensori sono diversi.
   p Gli esemplari manoscritti che attestano la tradizione delle lettere sono conservati nei seguenti istituti e relativi fondi (in ordine alfabetico per istituto di conservazione e fondo):
   ul
     li Bologna, Biblioteca Universitaria, Italiani.
        a(href="https://bub.unibo.it/it/collezioni-e-cataloghi/cataloghi-in-sede") Cataloghi dei manoscritti
     li Firenze, Archivio di Stato, Carte Strozziane.
        a(href="http://www.archiviodistato.firenze.it/asfi/index.php?id=386") Descrizione del fondo
     li Firenze, Archivio di Stato, Mediceo avanti il Principato.
        a(href="http://www.archiviodistato.firenze.it/map/") Riproduzione digitale integrale
     li Firenze, Archivio di Stato, Notarile Antecosimiano.
        a(href="http://www.archiviodistato.firenze.it/asfi/index.php?id=233") Descrizione del fondo
     li Firenze, Biblioteca Medicea Laurenziana. Plutei.
        a(href="http://teca.bmlonline.it/TecaRicerca/") Accesso al servizio TECA
     li Firenze, Biblioteca Nazionale, Magliabechiani.
        a(href="https://www.bncf.firenze.sbn.it/pagina.php?id=85") Descrizione del fondo
     li Firenze, Biblioteca Nazionale, Nazionali.
        a(href="https://www.bncf.firenze.sbn.it/pagina.php?id=86") Descrizione del fondo
     li Forlì, Biblioteca Comunale, Autografi Piancastelli.
        a(href="https://it.wikipedia.org/wiki/Archivio_Piancastelli") Descrizione
     li Roma, Biblioteca Apostolica Vaticana, Vaticani latini.
        a(href="http://www.mss.vatlib.it/gui/scan/link1.jsp?fond=Vat.lat.") Biblioteca apostolica vaticana: Cataloghi: Manoscritti
     li Roma, Biblioteca Apostolica Vaticana, Reginensi latini.
        a(href="http://www.mss.vatlib.it/gui/scan/link1.jsp?fond=Vat.lat.") Biblioteca apostolica vaticana: Cataloghi: Manoscritti
   p La multiforme tipologia degli esemplari materiali richiede di analizzare partitamente ogni documento. Per quanto riguarda i codici manoscritti:
   ul
     li Un gruppo di sedici lettere fu trascritto, per volontà di Vespasiano in un codice unico: il Plut. 90 sup. 30 della Biblioteca Medicea Laurenziana, un codice membranaceo costituito da sole 29 carte. Si tratta di un esemplare di dedica che raccoglie le lettere ricevute da Vespasiano, fatte trascrivere in volume dall'autore, donato a Alessandro di Pierfilippo Pandolfini. Nella prima carta di guardia si legge la nota di possesso: "hic liber est Alexandri Petri Philippi Pandulphini et amicorum" (
       a(href="bibliografia") Bandini, Catalogus
       | , Tomus III, coll. 490-91,
       a(href="http://vespasianodabisticciletters.unibo.it/images/bandini-90.jpg") descrizione
       | ).
     li Altre lettere sono confluite in un codice cartaceo miscellaneo di 138 carte: Firenze, Biblioteca Nazionale, Magl. VIII, 1390 (ff. 102, 102v, 103v, 41v, 47v, 48v) che raccoglie, per la maggior parte, note e lettere di Donato Acciaiuoli, sia lettere dell'umanista che lettere scritte per Vespasiano da Bisticci (cfr.
       a(href="bibliografia") Kristeller, Iter Italicum
       | , I, ed. 1963, p. 133,
       a(href="http://vespasianodabisticciletters.unibo.it/images/kristeller_magl.jpg") descrizione
       | ).
     li Un documento è esso stesso un manoscritto membranaceo di sole 10 carte (Firenze, Biblioteca Nazionale, Ms. Naz. II.XI.34, ff. 1-10v):
       a(href="bibliografia") Mazzatinti, Inventari
       | , vol. 11, ed. 1901, p. 80,
       a(href="http://vespasianodabisticciletters.unibo.it/images/mazzatinti_80.jpg") descrizione
       | .
     li Un'altra lettera è una carta di un codice membranaceo della Vaticana (Roma, Biblioteca Apostolica Vaticana, Vat. lat. 326, ff. 26r-v):
       a(href="bibliografia") Codices Vaticani Latini
       | , I, pp. 234-235,
       a(href="http://vespasianodabisticciletters.unibo.it/images/codici-vaticani-326.jpg") descrizione
       | .
       a(href="http://www.mss.vatlib.it/gui/console?service=shortDetail&id=210616") Scheda
       |  su BAV.
     li Sempre della Vaticana sono due lettere nel codice: Roma, Biblioteca Apostolica Vaticana, Reg. lat. 1612, 157v-158v.
       a(href="http://www.mirabileweb.it/manuscript/citt%E0-del-vaticano-biblioteca-apostolica-vaticana--manoscript/156484") Scheda
       |  su Mirabile.
     li Una lettera si trova in un codice cartaceo dell'Universitaria, l'esemplare utilizzato dal Greco per l'edizione delle Vite (Bologna, Biblioteca Universitaria, Italiano 1452, ff. 347-349): Cfr. IMBI (Inventari dei manoscritti delle Biblioteche d'Italia 1890 -), vol. 21 p. 81, n. 960; Frati, Uomini illustri (1892) pp. XI-XIII; Orlandi Bibl. antoniniana (1962) pp. 14-5; Greco, Vespasiano da Bisticci (1970) pp. XVIII-XXV.
       a(href="http://www.mirabileweb.it/manuscript-rom/bologna-biblioteca-universitaria-1452-manuscript/BAI_146387#") Scheda
       |  su Mirabile.
   p Per quanto riguarda i documenti d'archivio ci interessano quattro fondi: tre dell'Archivio di Stato e uno conservato presso la Biblioteca Comunale di Forlì:
   ul
     li Firenze, Archivio di Stato, Mediceo avanti il Principato (1373-1557; 165 pezzi; inventario a stampa, vol. 1, pp. XIII - XXIX) filza XVII n. 165, filza XVII n. 176, filza XII n. 413, filza XXVIII n. 701, filza XXV n. 377.
       a(href="bibliografia") Archivio di Stato di Firenze
       | .
     li Firenze, Archivio di Stato, Carte Strozziane (1336-1905; 3497 pezzi; inventario) serie I, filza 253 n. 2; serie III, vol. 145 ff. 86-87v; serie I, vol. 137 ff. 290r v; serie I, vol. 137 ff. 288-289v.
       a(href="bibliografia") Le carte strozziane
       | .
     li Firenze, Archivio di Stato, Notarile Antecosimiano (1237-1589; 21489 pezzi; inventario) T. 498 allegato primo e secondo all'atto del 6 settembre 1479 e allegato all'atto del 14 febbraio 1479 e 20251, inserto II, 30 maggio 1471.
       a(href="bibliografia") Atti dei notai
       | .
     li Forlì, Biblioteca Comunale, Autografi Piancastelli, n. 85 e n. 102.
       a(href="bibliografia") Kristeller, Iter Italicum
       | , I, ed. 1963, pp. 232-235 (in cui però manca la descrizione delle due carte in oggetto per Kristeller rimanda a: "Collezione di autografi del Dottor Carlo Piancastelli dal secolo XII al XVIII").
   p Quattro documenti sono stati trascritti direttamente da due testi a stampa. Si tratta di carte provenienti dal fondo aragonese, distrutto dai tedeschi nel 1943 (cfr. 
     a(href="bibliografia") Albini
     | e
     a(href="bibliografia") Trinchera
     | ).
